<!DOCTYPE html>
@using BloodLineV2.Models
@using BloodLineV2.ViewModels
@model IEnumerable<BloodLineV2.ViewModels.PatientDetailViewModel>

@{
    ViewBag.Title = "Details";
}

<html>
<head>
    <title>UMMC Blood Transfusion Information System</title>
    <script src="https://kit.fontawesome.com/4576929075.js" crossorigin="anonymous"></script>
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>

<body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
        <span class="w3-bar-item w3-right">UMMC Blood Transfusion Information System</span>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container w3-row">
        </div>
        <hr>
        <div class="w3-container">
            <h5>Make your choice</h5>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
            <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="	fa fa-laptop-medical"></i>  Review and request</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-vials"></i>  Obtain blood sample</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-procedures"></i>  Transfuse and monitor</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-allergies"></i>  Adverse event reporting</a>
        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
        <!--Patient Name Header-->
        <header class="w3-container" style="padding-top:22px">
            <h5>
                <b>
                    <i class="fa fa-heart"></i> @Html.DisplayFor(model => model.FirstOrDefault().NAME) |
                    RN: @Html.DisplayFor(model => model.FirstOrDefault().PATNUMBERSHORT) |
                    DOB: @Html.DisplayFor(model => model.FirstOrDefault().BIRTHDATE)  |
                    Sex: @Html.DisplayFor(model => model.FirstOrDefault().SEXLONG)
                </b>
            </h5>
        </header>
        <!--Patient Result Summary-->
        <div class="w3-row-padding w3-margin-bottom">
            <!--ABO and RhD results-->
            <div class="w3-third">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left">
                        <div class="w3-clear"><h1><b>@Html.DisplayFor(model => model.FirstOrDefault().PATGROUP) </b></h1></div>
                    </div>
                    <div class="w3-right">
                        @if (ViewBag.RhErr > 0 || ViewBag.AboErr > 0)
                        {
                            <i class="fa fa-exclamation"></i>
                        }
                        else
                        {
                            if (ViewBag.Abonum == 1)
                            {
                                <i class="fa fa-bars"></i>
                            }
                            else if (ViewBag.Abonum > 1)
                            {
                                <i class="fa fa-check-double"></i>
                            }
                            else
                            {
                                <i class="fa fa-question"></i>
                            }
                        }
                    </div>
                </div>
            </div>
            <!--Antibody screening results-->
            <div class="w3-third">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left">
                        @if (ViewBag.Absnum > 0 || ViewBag.AbsErr > 0)
                        {
                            <div class="w3-clear"><h1><b>@Html.DisplayFor(model => model.FirstOrDefault().ABSHORT)</b></h1></div>
                        }
                        else
                        {
                            <div class="w3-clear"><h1><b>AB:NR</b></h1></div>
                        }
                    </div>
                    <div class="w3-right">
                        @if (ViewBag.Absnum > 0 && ViewBag.AbsErr == 0)
                        {
                            <i class="fa fa-user-shield"></i>
                        }
                        else if (ViewBag.AbsErr > 0)
                        {
                            <i class="fa fa-exclamation"></i>
                        }
                        else
                        {
                            <i class="fa fa-question"></i>
                        }
                    </div>
                </div>
            </div>
            <!--Electronic issue-->
            <div class="w3-third">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left">
                        <div class="w3-clear"><h1><b>@Html.DisplayFor(model => model.FirstOrDefault().EI)</b></h1></div>
                    </div>
                </div>
            </div>
            <!--Notifications and alerts-->
            <div class="w3-container w3-gray">
                <p><b>Current status of patient and ongoing testing</b></p>
                <div>
                    @if (ViewBag.RhErr > 0 || ViewBag.AboErr > 0)
                    {
                        <p>Discrepancy in blood grouping identified. Please contact the transfusion laboratory if clarification required.</p>
                    }
                    else
                    {
                        if (ViewBag.Abonum > 1)
                        {
                            <p>Blood group confirmed based on two or more determinations.</p>
                        }
                        else if (ViewBag.Abonum == 1)
                        {
                            <p>Blood group based on single determination. Please submit second sample for confirmation.</p>
                        }
                        else
                        {
                            <p>No valid blood group records available.</p>
                        }
                    }
                </div>
                <div>
                    @if (ViewBag.ReqValid > 0)
                    {
                        <i class="fa fa-vial"></i>
                        <i class="fa fa-check"></i>
                        <sup>@ViewBag.ReqValidDate</sup>
                    }
                </div>
                <div>
                    @if (ViewBag.InReserve > 0)
                    {
                        <i class="fa fa-first-aid"></i>
                        <sup>@ViewBag.InReserve</sup>
                    }
                </div>
            </div>






        </div>
    </div>




    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>
</body>
</html>



