<!DOCTYPE html>
@using BloodLineV2.Models
@using BloodLineV2.ViewModels
@model IEnumerable<BloodLineV2.ViewModels.PatientDetailViewModel>

@{
    ViewBag.Title = "Details";
}

<html>
<head>
    <title>UMMC Blood Transfusion Information System</title>
    <script src="https://kit.fontawesome.com/4576929075.js" crossorigin="anonymous"></script>
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>

<body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
        <span class="w3-bar-item w3-right">UMMC Blood Transfusion Information System</span>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container w3-row">
        </div>
        <hr>
        <div class="w3-container">
            <h5>Make your choice</h5>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
            <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="	fa fa-laptop-medical"></i>  Review and request</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-vials"></i>  Obtain blood sample</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-procedures"></i>  Transfuse and monitor</a>
            <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-allergies"></i>  Adverse event reporting</a>
        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
        <!--Patient Name Header-->
        <header class="w3-container" style="padding-top:22px">
            <h5>
                <b>
                    <i class="fa fa-heart"></i> @Html.DisplayFor(model => model.FirstOrDefault().NAME) |
                    RN: @Html.DisplayFor(model => model.FirstOrDefault().PATNUMBERSHORT) |
                    DOB: @Html.DisplayFor(model => model.FirstOrDefault().BIRTHDATE)  |
                    Sex: @Html.DisplayFor(model => model.FirstOrDefault().SEXLONG)
                </b>
            </h5>
        </header>
        <!--Patient Result Summary-->
        <div class="w3-row-padding w3-margin-bottom">
            <!--ABO and RhD results-->
            <div class="w3-third">
                <div class="w3-container w3-red w3-padding-16">
                    <div class="w3-left">
                        <div class="w3-clear"><h1><b>@Html.DisplayFor(model => model.FirstOrDefault().PATGROUP) </b></h1></div>
                    </div>
                    <div class="w3-right">
                        @if (ViewBag.RhErr > 0 || ViewBag.AboErr > 0)
                        {
                            <i class="fa fa-exclamation"></i>
                        }
                        else
                        {
                            if (ViewBag.Abonum == 1)
                            {
                                <i class="fa fa-bars"></i>
                            }
                            else if (ViewBag.Abonum > 1)
                            {
                                <i class="fa fa-check-double"></i>
                            }
                            else
                            {
                                <i class="fa fa-question"></i>
                            }
                        }
                    </div>
                </div>
            </div>
            <!--Antibody screening results-->
            <div class="w3-third">
                <div class="w3-container w3-blue w3-padding-16">
                    <div class="w3-left">
                        @if (ViewBag.Absnum > 0 || ViewBag.AbsErr > 0)
                        {
                            <div class="w3-clear"><h1><b>@Html.DisplayFor(model => model.FirstOrDefault().ABSHORT)</b></h1></div>
                        }
                        else
                        {
                            <div class="w3-clear"><h1><b>AB:NR</b></h1></div>
                        }
                    </div>
                    <div class="w3-right">
                        @if (ViewBag.Absnum > 0 && ViewBag.AbsErr == 0)
                        {
                            <i class="fa fa-user-shield"></i>
                        }
                        else if (ViewBag.AbsErr > 0)
                        {
                            <i class="fa fa-exclamation"></i>
                        }
                        else
                        {
                            <i class="fa fa-question"></i>
                        }
                    </div>
                </div>
            </div>
            <!--Electronic issue-->
            <div class="w3-third">
                <div class="w3-container w3-teal w3-padding-16">
                    <div class="w3-left">
                        <div class="w3-clear"><h1><b>@Html.DisplayFor(model => model.FirstOrDefault().EI)</b></h1></div>
                    </div>
                </div>
            </div>
            <!--Notifications and alerts-->
            <div class="w3-container w3-light-gray">
                <p><b>Current status of patient and ongoing testing</b></p>
                <div>
                    @if (ViewBag.RhErr > 0 || ViewBag.AboErr > 0)
                    {
                        <p>Discrepancy in blood grouping identified. Please contact the transfusion laboratory if clarification required.</p>
                    }
                    else
                    {
                        if (ViewBag.Abonum > 1)
                        {
                            <p>Blood group confirmed based on two or more determinations.</p>
                        }
                        else if (ViewBag.Abonum == 1)
                        {
                            <p>Blood group based on single determination. Please submit second sample for confirmation.</p>
                        }
                        else
                        {
                            <p>No valid blood group records available.</p>
                        }
                    }
                </div>
                <div>
                    @if (ViewBag.ReqValid > 0)
                    {
                        <i class="fa fa-vial"></i>
                        <i class="fa fa-check"></i>
                        <sup>@ViewBag.ReqValidDate</sup>
                    }
                </div>
                <div>
                    @if (ViewBag.InReserve > 0)
                    {
                        <i class="fa fa-first-aid"></i>
                        <sup>@ViewBag.InReserve</sup>
                    }
                </div>
            </div>
        </div>
        <!-- Review results and transfusions -->
        <div class="w3-container">
            <div class="panel-group" id="accordion-review">
                <!-- Requests and results -->
                <div class="w3-panel w3-gray panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-review" href="#collapse1">Requests and results (@ViewBag.TestCount)</a>
                        </h5>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body w3-light-gray">
                            @if (ViewBag.TestCount > 0)
                            {
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date </th>
                                            <th></th>
                                            <th>ABO</th>
                                            <th>Rh</th>
                                            <th>DAT</th>
                                            <th>Ab screen</th>
                                            <th>Ab ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{var res = ViewData["TestResults"] as string[,];
                                            for (int row = 0; row < res.GetLength(0); row++)
                                            {
                                                <tr>
                                                    @for (int column = 0; column < res.GetLength(1); column++)
                                                    {
                                                        switch (column)
                                                        {
                                                            case 2:
                                                                if (res[row, column] != null)
                                                                {
                                                                    <td><i class="fa fa-vial"></i><sup>@res[row, column]</sup></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@res[row, column]</td>
                                                                };
                                                                break;

                                                            case 6:
                                                                if (res[row, column] != null && res[row, column].Contains("POS"))
                                                                {
                                                                    <td><b><font color="red">@res[row, column]</font></b></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@res[row, column]</td>
                                                                };
                                                                break;

                                                            case 7:
                                                                if (res[row, column] != null)
                                                                {
                                                                    <td><i class="fa fa-exclamation"></i></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@res[row, column]</td>
                                                                };
                                                                break;

                                                            default:
                                                                <td>@res[row, column]</td>
                                                                break;
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <!-- Red Cells -->
                <div class="w3-panel w3-gray panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-review" href="#collapse2">Red blood cells (@ViewBag.Rccount)  </a>
                            @if (ViewBag.Rccount > 0)
                            {
                                <i class="fa fa-vial"></i> @ViewBag.Reserved
                                <i class="fa fa-clipboard-check"></i> @ViewBag.Issued
                                <i class="fa fa-procedures"></i> @ViewBag.Transfused
                                <i class="fa fa-tag"></i> @ViewBag.Returned
                                <i class="fa fa-allergies"></i> @ViewBag.Reaction
                            }
                        </h5>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body w3-light-gray">
                            @if (ViewBag.Rccount > 0)
                            {
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Request Time & Date</th>
                                            <th>RC Type</th>
                                            <th>Pack ID</th>
                                            <th>History</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.PRODNUM != null && item.PRODCODE.Substring(0, 2) == "RC")
                                            {
                                                <tr>
                                                    <td>@item.ACCESSNUMBER</td>
                                                    <td>@Html.DisplayFor(modelItem => item.REQDATE)</td>
                                                    <td>@item.PRODCODE</td>
                                                    <td>@item.PRODNUM</td>
                                                    <td>
                                                        @if (item.RESERVDATE != null && item.ReservIntDay < 8)
                                                        {
                                                            <i class="fa fa-file-prescription"></i>
                                                            <sup>@item.RESERVDATE.Value.ToString("HH:mm") d:@item.ReservIntDay</sup>
                                                        }
                                                        @if (item.XMATCHDATE != null && item.XmatchIntDay < 8)
                                                        {
                                                            <i class="fa fa-vials"></i>
                                                            <sup>@item.XMATCHDATE.Value.ToString("HH:mm") d:@item.XmatchIntDay</sup>
                                                        }
                                                        @if (item.ISSUEDATE != null && item.IssueIntDay < 8)
                                                        {
                                                            <i class="fa fa-clipboard-check"></i>
                                                            <sup>@item.ISSUEDATE.Value.ToString("HH:mm") d:@item.IssueIntDay</sup>
                                                        }
                                                        @if (item.RETURNDATE != null && item.ReturnIntDay < 8)
                                                        {
                                                            <i class="fa fa-tag"></i>
                                                            <sup>@item.RETURNDATE.Value.ToString("HH:mm") d:@item.ReturnIntDay</sup>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.TRANSREACTION != null)
                                                        {
                                                            <i class="fa fa-allergies"></i>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <!-- Platelets -->
                <div class="w3-panel w3-gray panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-review" href="#collapse3">Platelets (@ViewBag.Plcount)</a>
                            @if (ViewBag.Plcount > 0)
                            {
                                <i class="fa fa-clipboard-check"></i> @ViewBag.PlIssued
                                <i class="fa fa-procedures"></i> @ViewBag.PlTransfused
                                <i class="fa fa-tag"></i> @ViewBag.PlReturned
                                <i class="fa fa-allergies"></i> @ViewBag.Reaction
                            }
                        </h5>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body w3-light-gray">
                            @if (ViewBag.Plcount > 0)
                            {
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Request Date</th>
                                            <th>Time</th>
                                            <th>RC Type</th>
                                            <th>Pack ID</th>
                                            <th>History</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.PRODNUM != null && item.PRODCODE.Substring(0, 2) == "PL")
                                            {
                                                <tr>
                                                    <td>@item.ACCESSNUMBER</td>
                                                    <td>@Html.DisplayFor(modelItem => item.REQDATE)</td>
                                                    <td>@item.PRODCODE</td>
                                                    <td>@item.PRODNUM</td>
                                                    <td>
                                                        @if (item.RESERVDATE != null && item.ReservIntDay < 8)
                                                        {
                                                            <i class="fa fa-file-prescription"></i>
                                                            <sup>@item.RESERVDATE.Value.ToString("HH:mm") d:@item.ReservIntDay</sup>
                                                        }
                                                        @if (item.XMATCHDATE != null && item.XmatchIntDay < 8)
                                                        {
                                                            <i class="fa fa-vials"></i>
                                                            <sup>@item.XMATCHDATE.Value.ToString("HH:mm") d:@item.XmatchIntDay</sup>
                                                        }
                                                        @if (item.ISSUEDATE != null && item.IssueIntDay < 8)
                                                        {
                                                            <i class="fa fa-clipboard-check"></i>
                                                            <sup>@item.ISSUEDATE.Value.ToString("HH:mm") d:@item.IssueIntDay</sup>
                                                        }
                                                        @if (item.RETURNDATE != null && item.ReturnIntDay < 8)
                                                        {
                                                            <i class="fa fa-tag"></i>
                                                            <sup>@item.RETURNDATE.Value.ToString("HH:mm") d:@item.ReturnIntDay</sup>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.TRANSREACTION != null)
                                                        {
                                                            <i class="fa fa-allergies"></i>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
                <!-- Plasma products -->
                <div class="w3-panel w3-gray panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-review" href="#collapse4">Plasma products (@ViewBag.Fpcount)</a>
                            @if (ViewBag.Fpcount > 0)
                            {
                                <i class="fa fa-clipboard-check"></i> @ViewBag.FpIssued
                                <i class="fa fa-procedures"></i> @ViewBag.FpTransfused
                                <i class="fa fa-tag"></i> @ViewBag.FpReturned
                                <i class="fa fa-allergies"></i> @ViewBag.Reaction
                            }
                        </h5>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body w3-light-gray">
                            @if (ViewBag.Fpcount > 0)
                            {
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Request Date</th>
                                            <th>Time</th>
                                            <th>RC Type</th>
                                            <th>Pack ID</th>
                                            <th>History</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.PRODNUM != null && (item.PRODCODE.Substring(0, 2) == "FF" || item.PRODCODE.Substring(0, 2) == "CR"))
                                            {
                                                <tr>
                                                    <td>@item.ACCESSNUMBER</td>
                                                    <td>@Html.DisplayFor(modelItem => item.REQDATE)</td>
                                                    <td>@item.PRODCODE</td>
                                                    <td>@item.PRODNUM</td>
                                                    <td>
                                                        @if (item.RESERVDATE != null && item.ReservIntDay < 8)
                                                        {
                                                            <i class="fa fa-file-prescription"></i>
                                                            <sup>@item.RESERVDATE.Value.ToString("HH:mm") d:@item.ReservIntDay</sup>
                                                        }
                                                        @if (item.XMATCHDATE != null && item.XmatchIntDay < 8)
                                                        {
                                                            <i class="fa fa-vials"></i>
                                                            <sup>@item.XMATCHDATE.Value.ToString("HH:mm") d:@item.XmatchIntDay</sup>
                                                        }
                                                        @if (item.ISSUEDATE != null && item.IssueIntDay < 8)
                                                        {
                                                            <i class="fa fa-clipboard-check"></i>
                                                            <sup>@item.ISSUEDATE.Value.ToString("HH:mm") d:@item.IssueIntDay</sup>
                                                        }
                                                        @if (item.RETURNDATE != null && item.ReturnIntDay < 8)
                                                        {
                                                            <<i class="fa fa-tag"></i>
                                                            <sup>@item.RETURNDATE.Value.ToString("HH:mm") d:@item.ReturnIntDay</sup>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.TRANSREACTION != null)
                                                        {
                                                            <i class="fa fa-allergies"></i>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Tabs for selection of requests and products-->
        <div class="w3-container">
            <div class="w3-row">
                <a href="javacript:void(0)" onclick="openRequest(event, 'Test');">
                    <div class="w3-quarter tablink w3-bottombar w3-hover-grey w3-padding">Tests</div>
                </a>
                <a href="javacript:void(0)" onclick="openRequest(event, 'Rbc');">
                    <div class="w3-quarter tablink w3-bottombar w3-hover-grey w3-padding">Red Cells</div>
                </a>
                <a href="javacript:void(0)" onclick="openRequest(event, 'Platelet');">
                    <div class="w3-quarter tablink w3-bottombar w3-hover-grey w3-padding">Platelets</div>
                </a>
                <a href="javacript:void(0)" onclick="openRequest(event, 'Plasma');">
                    <div class="w3-quarter tablink w3-bottombar w3-hover-grey w3-padding">Plasma Products</div>
                </a>
                <!--Test requests-->
                <div id="Test" class="w3-container request" style="display:none">
                    <h4>Panel for tests</h4>
                </div>
                <!--Red cell requests-->
                <div id="Rbc" class="w3-container request" style="display:none">
                    <h6>
                        Select suitable products and required quantity. Remember that the minimum number of RBC units should be transfused to
                        achieve the desired response. Refer to <a href="~/Content/pdf/RBC_recommendation.pdf" target="_blank"><b>Guidelines for Red Cell Use</b></a> to aid your transfusion decision.
                    </h6>
                    <p id="alert_redcell" style="color: orangered"></p>
                    <p id="notice_hb" style="color: red">@ViewBag.cHgb</p>
                    <p id="notice_mcv" style="color: red">@ViewBag.cMcv</p>
                    <div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Quantity</th>
                                    <th>Code</th>
                                    <th>Product Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ProductInfo bloodProduct in ViewBag.ProductInfo)
                                {
                                    if (bloodProduct.Id.Substring(0, 2).Contains("RC") &&
                                        (Model.FirstOrDefault().AGE >= bloodProduct.Lowerage && Model.FirstOrDefault().AGE <= bloodProduct.Upperage))
                                    {
                                        <tr>
                                            <td>
                                                @Html.Editor(bloodProduct.Id, new {
                                               htmlAttributes = new { @Name = "RC", onchange = "showIndication('RC')", type = "number", min = "0", max = "6", @Value = "0", @class = "form-control" }
                                           })
                                            </td>
                                            <td>
                                                @bloodProduct.Id
                                            </td>
                                            <td>
                                                @bloodProduct.Name
                                                @if (bloodProduct.Filelocation != "none")
                                                {
                                                    <a href="@bloodProduct.Filelocation" target="_blank">
                                                        <sup><i class="fa fa-info"></i></sup>
                                                    </a>
                                                }
                                                @if (bloodProduct.Irradiate == 1)
                                                {
                                                    <i class="fa fa-radiation"></i>
                                                }
                                                @if (bloodProduct.Leucodeplete == 1)
                                                {
                                                    <i class="fa fa-filter"></i>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="RC" style="display:none">
                        <h6>Please provide the most appropriate indication for the red cell request</h6>
                        <div class="w3-container w3-white">
                            <table class="table">
                                <tr>
                                    <td><input type="radio" name="redcell" value="RC1" onchange="checkIndication(75, @ViewBag.yHb[0], 'redcell')" /></td>
                                    <td>Hb &#8804 70g/L in a hemodynamically stable ICU patient.</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="redcell" value="RC2" onchange="checkIndication(85, @ViewBag.yHb[0], 'redcell')" /></td>
                                    <td>Hb &#8804 80g/L in a non- ICU patient with symptomatic anaemia.</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="redcell" value="RC3" onchange="checkIndication(105, @ViewBag.yHb[0], 'redcell')" /></td>
                                    <td>Hb &#8804 100g/L in a patient experiencing acute ischaemiac cardiovascular disease (e.g. angina pectoris, acute myocardial infarction).</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="redcell" value="RC4" onchange="checkIndication(150, @ViewBag.yHb[0], 'redcell')" /></td>
                                    <td>Acute bleeding with hemodynamic instability requiring urgent RBC transfusion.</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="redcell" value="RC5" onchange="checkIndication(150, @ViewBag.yHb[0], 'redcell')" /></td>
                                    <td>Regular red cell transfusion in a transfusion dependant patient (e.g. thalassaemia major).</td>
                                </tr>
                                <tr>
                                    <td><input type="radio" name="redcell" value="RC6" onchange="checkIndication(150, @ViewBag.yHb[0], 'redcell')" /></td>
                                    <td>Others</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--End of Red cell requests-->

            </div>
        </div>



    </div>




    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }
    </script>
    <script>
        //Open and close request tabs
        function openRequest(evt, requestName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("request");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-border-red", "");
            }
            document.getElementById(requestName).style.display = "block";
            evt.currentTarget.firstElementChild.className += " w3-border-red";
        }
    </script>
    <script>
        //Show indication
        function showIndication(val) {
            var vis = "none";
            var cnt = 0;
            var inp = document.getElementsByName(val);
            for (i = 0; i < inp.length; i++) {
                cnt = cnt + parseInt(inp[i].value);
            }
            if (cnt != 0) {
                vis = "block"
            }
            else {
                vis = "none";
            }
            document.getElementById(val).style.display = vis;
        }
    </script>
    <script>
        //Validate radio-button for red cell indications
        function checkIndication(a, b, c) {
            var radios = document.getElementsByName(c);
            var fback;
            for (var i = 0; i < radios.length; i++) {
                if (b > a) {
                    fback = "You have chosen to transfuse at a target Hb of " + a + " but the patient's last Hb was " + b + " g/L.";
                }
                else {
                    fback = "";
                }
                if (b == 0) {
                    fback = "Red cell request has been made with no prior Hb results."
                }
            }
            if (c == "redcell") {
                document.getElementById("alert_redcell").innerHTML = fback;
            }
            else if (c == "platelet") {
                document.getElementById("alert_platelet").innerHTML = fback;
            }
        }
    </script>



</body>
</html>



