
@model IEnumerable<BloodLineV2.Models.Product_Info>

@{
    ViewBag.Title = Html.DisplayFor(model => model.FirstOrDefault().prod_bloodline);
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="row row-cols-1 row-cols-sm-1">
    <div class="col mb-4">
        <div class="card h-100 bg-warning text-white">
            <img class="card-img" src= '@Url.Content(Model.FirstOrDefault().image1_link)' />
            <div class="card-body">
                <h1><b>@Html.DisplayFor(model => model.FirstOrDefault().prod_bloodline)</b></h1>
                <h6>@Html.DisplayFor(model => model.FirstOrDefault().prodname_full)</h6>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 bg-warning text-white">
            <div class="card-body">
                <h4 class="card-title"><b>@Html.Raw(Model.FirstOrDefault().storage.ToString())</b></h4>
                <h4 class="card-title"><b>@Html.Raw(Model.FirstOrDefault().shelflife.ToString())</b></h4>
                <h6 class="card-text">
                    @Html.Raw(Model.FirstOrDefault().transport.ToString())
                </h6>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 bg-info text-white">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h4 class="card-title"></h4>
                <h6 class="card-text">
                    @Html.Raw(Model.FirstOrDefault().prod_description.ToString())
                </h6>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Indications</h4>
                    <ul class="list-group" id="list-indications">
                        <!--Insert list from js-->
                    </ul>
                    <h4 class="card-title">Contraindications</h4>
                    <div class="alert alert-info">
                        @Html.Raw(Model.FirstOrDefault().contraindication.ToString())
                    </div>
                    <h4 class="card-title">Dosage</h4>
                    <div class="alert alert-info">
                        @Html.Raw(Model.FirstOrDefault().dosage.ToString())
                    </div>
                </div>
                <div class="card-footer">
                    +
                </div>
            </div>
        </div>
    </div>


    <div class="card-group">
        <div class="col-md-9 mb-4">
            <div class="card-header">
                <h2>@Html.Raw(Model.FirstOrDefault().test_header.ToString())</h2>
            </div>
            <div class="card-body">
                <h6 class="card-text">
                    @Html.Raw(Model.FirstOrDefault().testing.ToString())
                </h6>
            </div>
            <div class="card-footer">
                <h4>Minimum sample requirements</h4>
                <table class="table w-auto text-sm-left table-striped">
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-3">Age group</th>
                            <th class="col-9">Sample requirements</th>
                        </tr>
                    </thead>
                    <tbody id="table-sample-requirements"></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-info text-white">
                <div class="card-body">
                    <h4 class="card-title">Modifications</h4>
                    <div class="list-group list-group-flush" id="list-modifications">
                        <!--Insert list from js-->
                    </div>
                    <h6 class="card-text"></h6>
                </div>
                <div class="card-footer">
                    Refer to relevant info-sheets for information regarding above secondary modifications
                </div>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="col-md-3 mb-4">
            <div class="card text-dark">
                <img class="card-img card-img-bottom" src='@Url.Content(Model.FirstOrDefault().image2_link)' />
            </div> 
        </div>
        <div class="col-md-9 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Administration</h4>
                </div>
                <div class="card-body">
                    <ul class="list-group" id="list-administration"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <div class="card h-100 bg-light text-black-50">
            <div class="card-header"><h2>@Html.Raw(Model.FirstOrDefault().table_title.ToString())</h2></div>
            <div class="card-body">
                @Html.Raw(Model.FirstOrDefault().table.ToString())
            </div>
            <div class="card-footer">
                Refer to relevant info-sheets for information regarding above secondary modifications
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-header">
                <h2>Adverse reactions</h2>
            </div>
            <div class="card-body">
                <h6 class="card-text">
                    @Html.Raw(Model.FirstOrDefault().adverse_reactions.ToString())
                </h6>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        var str = ('@Model.FirstOrDefault().modification');
        var arr = new Array();
        arr = str.split("|");

        var txt = "";

        for (i = 0; i < arr.length; i++) {
            txt += "<a href='#' class='list-group-item list-group-item-action'>" + arr[i] + "</a>";
        }
        document.getElementById("list-modifications").innerHTML = txt;
    })
</script>
<script>
    $(document).ready(function () {
        var str = ('@Html.Raw(Model.FirstOrDefault().administration)');
        var arr = new Array();
        arr = str.split("|");

        var txt = "";

        for (i = 0; i < arr.length; i++) {
            txt += "<li class='list-group-item list-group-item-danger'>" + arr[i] + "</li>";
        }
        document.getElementById("list-administration").innerHTML = txt;
    })
</script>
<script>
    $(document).ready(function () {
        var str1 = ('@Model.FirstOrDefault().sample_requirement_L1');
        var str2 = ('@Model.FirstOrDefault().sample_requirement_L2');

        var arr1 = new Array();
        var arr2 = new Array();

        arr1 = str1.split("|");
        arr2 = str2.split("|");

        var txt = "";

        for (i = 0; i < arr1.length; i++) {
            txt = txt +  "<tr class='d-flex'><td class='col-3'>" + arr1[i] + "</td><td class='col-9'>" + arr2[i] + "</td></tr>";
        }
        document.getElementById("table-sample-requirements").innerHTML = txt;
    })
</script>
<script>
    $(document).ready(function () {
        var str = ('@Model.FirstOrDefault().indications');
        var arr = new Array();
        arr = str.split("|");

        var txt = "";

        for (i = 0; i < arr.length; i++) {
            txt += "<li class='list-group-item list-group-item-info'>" + arr[i] + "</li >";
        }

        document.getElementById("list-indications").innerHTML = txt;
    })
</script>